#no-more-tables .tablerow:nth-of-type(odd) {
    background: #e0e0e0;
}

#no-more-tables .tablerow {
    border: 1px solid #ccc;
}

#no-more-tables .tableheadrow {
    font-weight: bold;
    background: #000000;
    color: #ffffff;
}

.no-fat {
    font-weight: normal !important;
}

.panel-gray {
    background: #e6e6e6;
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fixed-height {
    margin-bottom: -50% !important;
}

.body-scroll {
    overflow-y:scroll;
}

.border {
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
}

.with-top-margin-responsiv {
    margin-top: 15px;
}

.with-top-margin {
    margin-top: 15px;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.with-side-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-top-padding {
    padding-top: 0 !important;
}

.with-bottom-margin {
    margin-bottom: 10px;
}

.no-top-border {
    border-top: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.image {
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.image img {
    position: absolute;
}

.side-buffer {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.textCenter {
    text-align: center;
}

.book-item {
    height: 450px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.own-book-item {
    height: 450px;
    border: 1px solid #FFB300;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.own-book-item-overlay-container {
    position: relative;
}

.own-book-item-overlay {
    background: url(../images/overlay-owned.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 100% 0%;
    z-index: 1;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.bottom-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 3px;
    background: red;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    padding-left: 15px;
    margin-bottom: 5px;
}

.left {
    float: left;
    padding-right: 15px;
    padding-top: 5px;
}

.rating_bar {
    width: 55px;
    vertical-align: middle;
    background: url(../images/star_x_grey.gif) 0 0 repeat-x;
}

.rating_bar div {
    height: 12px;
    vertical-align: middle;
    background: url(../images/star_x_orange.gif) 0 0 repeat-x;
}

        .rating_bar a {
            display: block;
            height: 100%;
        }

        .rating_bar.big-star {
            width: 160px;
            height: 33px;
            vertical-align: middle;
            display: block;
            *display: inline;
            margin-left: auto;
            margin-right: auto;
            background:url(../images/star178.png) 0 0 repeat-x;
        }

        .rating_bar.big-star div {
            width: 160px;
            height: 33px;
            vertical-align: middle;
            background:url(../images/star178-filled.png) 0 0 repeat-x;
        }

        .rating_bar input[type='radio']{
            margin-top: 0px;
            margin-bottom: 3px;
            width: 160px;
            height: 33px;
            opacity: 0;
        }


        .rating_bar.selection:not(.checked){
            opacity: 0.3;
        }

        .rating_bar.selection:hover:not(.checked){
            opacity: 0.7;
        }


        .rating_bar a div {
            height: 12px;
            vertical-align: middle;
            background:url(../images/star_x_orange.gif) 0 0 repeat-x;
        }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .notifications-buttons {
        display: inline-block;
        padding: 6px 12px;
        height: 34px;
    }

    .with-top-margin-responsiv {
        margin-top: 0px;
    }

    .panel-heading {
        height: 45px;
    }

    #new-board-btn {
        white-space: normal;
    }
}

@media only screen and (max-width: 800px) {

    .book-item {
        height: 450px;
        border: 1px solid #ccc;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Force table to not be like tables anymore */
    #no-more-tables .divtable,
    #no-more-tables .tablehead,
    #no-more-tables .tablebody,
    #no-more-tables .tableHeadCol,
    #no-more-tables .tableBodyCol,
    #no-more-tables .tablerow {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables .tablehead .tableheadrow {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables .tablerow {
        border: 1px solid #ccc;
    }

    #no-more-tables .tableBodyCol {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables .tableBodyCol:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables .tableBodyCol:before {
        content: attr(data-title);
    }
}