<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">

    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${user.getDisplayName()}" class="text-center"></h3></b></li>
                <li><a th:href="@{/showcaseoverview/{uid}(uid=${user.getId()})}">Showcase</a></li>
                <li><a th:href="@{/user/{uid}/profile(uid=${user.getId()})}">Profile</a></li>
                <li><a th:href="@{/user/{uid}/ratings(uid=${user.getId()})}">Ratings</a></li>
                <li class="active"><a th:href="@{/bookoverview}">Archive</a></li>
                <li><a th:href="@{/offersoverview}">My offers</a></li>
                <li><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-10">
            <div th:if="${not #lists.isEmpty(books)}">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a th:href="@{/add}" class="btn btn-primary" role="button">Add book</a>
                    </div>
                </div>


                <div class="row">
                    <nav th:if="${page.totalPages} gt 1" class="text-center">
                        <ul class="pagination">
                            <li th:class="${page.first} ? 'disabled'">
                                <a href="#" th:href="${page.first} ? '#' : @{/bookoverview/{page}(page=${page.number})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li th:each="p : ${#numbers.sequence(1, page.totalPages)}"
                                th:class="${p} eq ${page.number} + 1 ? 'active'">
                                <a href="#" th:href="@{/bookoverview/{page}(page=${p})}" th:text="${p}"></a>
                            </li>

                            <li th:class="${page.last} ? 'disabled'">
                                <a href="#"
                                   th:href="${page.last} ? '#' : @{/bookoverview/{page}(page=${page.number} + 2)}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="row with-top-margin">
                    <form method="post" th:action="@{/bookoverview}" class="form-inline">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-group col-xs-12 col-sm-3 col-lg-3">
                                <span class="input-group-addon">Search in:</span>
                                <select name="search-term-filter" id="search-term-filter"
                                        class="selectpicker form-control" title="Search in?">
                                    <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ALL}">
                                        All
                                    </option>
                                    <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).TITLE}">
                                        Title
                                    </option>
                                    <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).AUTHOR}">
                                        Author
                                    </option>
                                    <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).DESCRIPTION}">
                                        Description
                                    </option>
                                    <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ISBN}">
                                        ISBN
                                    </option>
                                </select>
                            </div>
                            <div class="input-group col-xs-12 col-sm-5 col-lg-3">
                                <input type="text" name="search-term" id="search-term" class="form-control"
                                       placeholder="Search" th:value="${bookFilter.searchTerm}"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Search</button>
                                    <button class="btn btn-default"
                                            onclick="document.getElementById('search-term').value='';document.getElementById('search-term-filter').selectedIndex=0;document.getElementById('on-sale-filter').selectedIndex=0;">
                                        Reset
                                    </button>
                                </div>
                            </div>
                            <div class="input-group col-xs-12 col-sm-3 col-lg-3">
                                <span class="input-group-addon">Filter:</span>
                                <select name="on-sale-filter" id="on-sale-filter" class="selectpicker form-control"
                                        onchange="this.form.submit()">
                                    <option th:selected="${bookFilter.ignoreToSaleBoolean}" value="none">none</option>
                                    <option th:selected="${bookFilter.toSale} and !${bookFilter.ignoreToSaleBoolean}"
                                            value="true">on sale
                                    </option>
                                    <option th:selected="!${bookFilter.toSale} and !${bookFilter.ignoreToSaleBoolean}"
                                            value="false">not on sale
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 with-top-margin">
                            <div class="input-group col-xs-12 col-sm-3 col-lg-3">
                                <span class="input-group-addon">Sort by:</span>
                                <select name="sort-by" id="sort-by" class="selectpicker form-control" title="Sort by"
                                        onchange="this.form.submit()">
                                    <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).TITLE}">
                                        Title
                                    </option>
                                    <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).AUTHOR}">
                                        Author
                                    </option>
                                    <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).PRICE}">
                                        Price
                                    </option>
                                    <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).OFFER}">
                                        Offer
                                    </option>
                                </select>
                            </div>
                            <div class="input-group col-xs-12 col-sm-3 col-lg-3">
                                <span class="input-group-addon">Direction:</span>
                                <select name="sort-direction" id="sort-direction" class="selectpicker form-control"
                                        title="Sort direction" onchange="this.form.submit()">
                                    <option th:selected="${bookSortFilter.direction.toString() == 'ASC'}">Ascending
                                    </option>
                                    <option th:selected="${bookSortFilter.direction.toString() == 'DESC'}">Descending
                                    </option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:name="search-page" id="search-page" th:value="bookoverview"/>
                    </form>

                </div>

                <div class="row with-top-margin">
                    <div class="alert alert-info" style="margin-top: 5pt;" role="alert"
                         th:if="${#lists.isEmpty(books)}">
                         
                    <span th:if="${bookFilter.searchTerm != ''} and ${bookFilter.searchTerm != null}"
                          th:text="'Nothing found with search term: ' + ${bookFilter.searchTerm}">text search term and no books</span>
                        <span th:if="${bookFilter.toSale != null} and ${not bookFilter.ignoreToSaleBoolean}">Nothing found with with your filter settings.</span>
                        <span th:if="${bookFilter.searchTerm == '' or bookFilter.searchTerm == null} and ${bookFilter.ignoreToSaleBoolean == null or bookFilter.ignoreToSaleBoolean}">You have no books, add one.</span>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-lg-4" th:each="book: ${books}">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <div class="image">
                                            <img class="img img-responsive" th:if="${book.image}"
                                                 th:src="@{${book.getImageBase64()}}"/>
                                            <img class="img img-responsive" th:unless="${book.image}"
                                                 th:src="@{/static/images/dummy.jpg}"/>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <h3 class="one-line" th:text="${book.getTitle()}"></h3>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-lg-4">
                                        <span class="one-line" th:text="${book.getAuthor()}"></span>
                                    </div>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <h3 th:if="${book.isToSale()}" class="pull-right"
                                            th:text="${book.getOverallCostText()}"></h3>

                                        <h3 th:unless="${book.isToSale()}" class="text-muted pull-right">Not on
                                            sale</h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12" th:if="${book.isToSale()}">
                                        <h4 th:if="${book.hasOffer() and !book.isBought()}"
                                            class="pull-right text-success"
                                            th:text="'Highest Offer '+${book.getHighestOfferText()}"></h4>
                                        <h4 th:unless="${book.hasOffer()}" class="text-muted pull-right">No offers
                                            yet</h4>
                                        <h4 th:if="${book.hasOffer() and book.isBought()}"
                                            class="text-danger pull-right ">
                                            SOLD</h4>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12" th:unless="${book.isToSale()}">
                                        <h4 class="text-muted pull-right" th:style="'height:19px;'"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix no-bottom-margin">
                                <div th:if="${book.hasOffer() and !book.isBought()}" class="pull-right">
                                    <a th:href="@{/sell-book/{id}(id=${book.getId()})}" class="btn btn-primary">
                                        <span>Edit sale offer</span>
                                    </a>
                                    <a th:href="@{/accept-book-offer/{id}(id=${book.getId()})}"
                                       class="button btn btn-success">Accept offer</a>
                                </div>
                                <div th:unless="${book.hasOffer() and !book.isBought()}" class="pull-right">
                                    <a th:href="@{/edit/{id}(id=${book.getId()})}" class="btn btn-default">Edit book</a>
                                    <a th:href="@{/sell-book/{id}(id=${book.getId()})}" class="btn btn-primary">
                                        <span th:if="${book.isToSale()}">Edit sale offer</span>
                                        <span th:unless="${book.isToSale()}">Sell</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(books)}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead text-center">
                            This is your achive. It contains all books you own. If you want to sell a book, you can
                            do it in this view.
                            <br/>
                            <br/>
                            Since you have no book in achive currently, you should add some to be able to sell them.
                        </p>
                        <div class="col-xs-12 text-center">
                            <a th:href="@{/add}" class="btn btn-primary" role="button">Add your first book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${not allowSell}" class="row">
        <small>* you need to add a PayPal Emailaddress to sell books. Please update your <a th:href="@{/edit-profile}">profile</a>
        </small>
    </div>
</div>
</body>
</html>

