<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">
<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div th:replace="fragments/platform-message :: platform-message"/>

    <form th:action="@{/buy-book/{id}(id=${bookToBuy.id})}"
          th:object="${bookToBuy}" method="post" class="form-horizontal">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="row">
            <div class="panel panel-default panel-gray">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-4 col-lg-4" align="center">
                        <img class="img-responsive" th:if="${bookBase64Image}" th:attr="src=@{${bookBase64Image}}"/>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-lg-8">
                        <ul class="nav nav-tabs">
                            <li th:class="${buyTab} ? '' : 'active'"><a data-toggle="tab" href="#info">Book info</a></li>
                            <li th:class="${buyTab} ? 'active' : ''"><a data-toggle="tab" href="#buy">Buying options</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="info" th:class="${buyTab} ? 'tab-pane' : 'tab-pane active'">
                                <div class="panel panel-default no-top-border">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Title</label>

                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <p class="form-control-static" th:text="${bookToBuy.title}">Book
                                                    Title</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Author</label>

                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <p class="form-control-static" th:text="${bookToBuy.author}">Author</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Seller</label>

                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <div class="left">
                                                    <a th:href="@{/showcaseoverview/{id}(id=${bookToBuy.seller.getId()})}"
                                                       th:text="${bookToBuy.seller.getDisplayName()}">
                                                        Seller
                                                    </a>
                                                </div>
                                                <div class="left">
                                                    <div class="rating_bar">
                                                        <a th:href="@{/showcaseoverview/{id}(id=${bookToBuy.seller.getId()})}">
                                                            <div th:if="${bookToBuy.seller.getRating() ge 0}"
                                                                 th:style="'width:'+ ${bookToBuy.seller.getRating()} +'%'"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Description</label>

                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <p class="form-control-static" th:text="${bookToBuy.description}">Book
                                                    Description</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-lg-2 control-label">ISBN</label>

                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <p class="form-control-static" th:text="${bookToBuy.isbn}">ISBN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="buy" th:class="${buyTab} ? 'tab-pane active' : 'tab-pane'">
                                <div class="panel panel-default no-top-border">
                                    <div class="panel-body">
                                        <div class="col-xs-12 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-6 col-lg-6 control-label">Price</label>

                                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                                    <p class="form-control-static"
                                                       th:text="${#numbers.formatDecimal(bookToBuy.price, 1, 2)}+ ' ' + &euro;">
                                                        Book
                                                        Price</p>
                                                    <!-- This hidden input is a little kind of the http://goo.gl/4uyr4O -->
                                                    <input class="hidden" id="price" name="price"
                                                           th:value="${bookToBuy.price}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-6 col-lg-6 control-label">Shipping
                                                    costs</label>

                                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                                    <p class="form-control-static"
                                                       th:text="${#numbers.formatDecimal(bookToBuy.shippingCost, 1, 2)}+ ' ' +&euro;">
                                                        Book
                                                        Shipping Costs</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-6 col-lg-6 control-label">Overall
                                                    cost</label>

                                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                                    <p class="form-control-static"
                                                       th:text="${#numbers.formatDecimal(bookToBuy.overallCost, 1, 2)}+ ' ' +&euro;">
                                                        Book
                                                        Overall cost</p>
                                                </div>
                                            </div>

                                            <div sec:authorize="isAuthenticated()" class="form-group">
                                                <div class="col-xs-12 text-center">
                                                    <a th:unless="${bookToBuy.bought}"
                                                       th:href="@{/buy-book-fixed-price/{id}(id=${bookToBuy.id})}"
                                                       class="button btn btn-primary">Buy instantly</a>
                                                    <a th:if="${bookToBuy.bought and bookToBuy.highestOfferBySameUser}"
                                                       th:href="@{/pay-book/{id}(id=${bookToBuy.paymentId})}"
                                                       class="button btn btn-default btn-success">Pay</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-lg-6">
                                            <div class="form-group">
                                                <label class="col-xs-6 col-sm-6 col-lg-6 control-label">Highest offer
                                                </label>

                                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                                    <p class="form-control-static"
                                                       th:text="${#numbers.formatDecimal(bookToBuy.highestOffer, 1, 2)}+ ' ' +&euro;">
                                                        Highest
                                                        offer</p>
                                                    <!-- This hidden input is a little kind of the http://goo.gl/4uyr4O -->
                                                    <input class="hidden" id="highestOffer" name="highestOffer"
                                                           th:value="${bookToBuy.highestOffer}"/>
                                                </div>
                                            </div>

                                            <div sec:authorize="isAuthenticated()" class="form-group">
                                                <div class="col-xs-6 col-sm-6 col-lg-6 vcenter">
                                                    <label class="control-label pull-right">Offer status</label>
                                                </div><!--
                                                --><div class="col-xs-6 col-sm-6 col-lg-6 vcenter">
                                                    <span th:class="${bookToBuy.highestOfferBySameUser}? 'glyphicon glyphicon-ok green' : 'glyphicon glyphicon-remove red'"
                                                          style="vertical-align:middle"
                                                          data-toggle="tooltip"
                                                          th:title="${bookToBuy.highestOfferBySameUser}? 'You made the highest offer.' : 'The highest offer wasn\'t made by you.'">
                                                    </span>
                                                    <span th:class="${bookToBuy.bought}? 'glyphicon glyphicon-ok green' : 'glyphicon glyphicon-remove red'"
                                                          style="vertical-align:middle"
                                                          data-toggle="tooltip"
                                                          th:title="${bookToBuy.bought}? 'Your offer has been accepted.' : 'Your offer hasn\'t been accepted yet.'"></span>
                                                </div>
                                            </div>

                                            <div sec:authorize="isAuthenticated()" class="form-group"
                                                 th:unless="${bookToBuy.bought}"
                                                 th:disabled="${bookToBuy.highestOfferBySameUser}"
                                                 th:classappend="${#fields.hasErrors('offeredPrice')} ? 'has-error'">
                                                <label class="col-xs-12 col-sm-6 col-lg-6 control-label"
                                                       for="offeredPrice">Offered
                                                    price</label>

                                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                                    <input class="form-control" id="offeredPrice"
                                                           name="offeredPrice"
                                                           placeholder="offeredPrice"
                                                           th:value="${bookToBuy.offeredPrice}"
                                                           th:readonly="${bookToBuy.highestOfferBySameUser}"/>
                                                    <span th:if="${#fields.hasErrors('offeredPrice')}"
                                                          th:errors="*{offeredPrice}"
                                                          id="offeredPriceError"
                                                          class="help-block">Shipping cost Error</span>
                                                </div>
                                            </div>

                                            <div sec:authorize="isAuthenticated()" class="form-group">
                                                <div class="col-xs-12 text-center">
                                                    <button th:unless="${bookToBuy.bought} or ${bookToBuy.highestOfferBySameUser}"
                                                            type="submit" class="btn btn-primary">Make offer
                                                    </button>
                                                    <a th:if="${bookToBuy.highestOfferBySameUser}"
                                                       th:href="@{/cancel-offer/{id}(id=${bookToBuy.id})}"
                                                       class="button btn btn-default">Cancel offer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
</html>