<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.spingframework.org/security/tags">

<head th:replace="fragments/head :: head"></head>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"></nav>


<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${user.getDisplayName()}" class="text-center"></h3></b></li>
                <li><a th:href="@{/showcaseoverview/{uid}(uid=${user.getId()})}">Showcase</a></li>
                <li><a th:href="@{/user/{uid}/profile(uid=${user.getId()})}">Profile</a></li>
                <li><a th:href="@{/user/{uid}/ratings(uid=${user.getId()})}">Ratings</a></li>
                <li><a th:href="@{/bookoverview}">Archive</a></li>
                <li><a th:href="@{/offersoverview}">My offers</a></li>
                <li class="active"><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-10">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body panel-gray">
                            <form action="#" th:action="@{/edit-profile}" th:object="${changeRequest}" method="post"
                                  class="form-horizontal">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <h1 class="with-bottom-margin text-center">Edit profile</h1>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                                    <label class="col-xs-12 col-sm-4 col-lg-4 control-label" for="name">Name</label>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <input class="form-control" id="name" name="name" th:field="*{name}"
                                               value="${changeRequest.name}" maxlength="50"/>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError"
                                      class="help-block">Name Error</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('surname')} ? 'has-error'">
                                    <label class="col-xs-12 col-sm-4 col-lg-4 control-label"
                                           for="surname">Surname</label>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <input class="form-control" id="surname" name="surname" th:field="*{surname}"
                                               value="${changeRequest.surname}" maxlength="50"/>
                                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" id="surnameError"
                                      class="help-block">Surname Error</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('nickname')} ? 'has-error'">
                                    <label class="col-xs-12 col-sm-4 col-lg-4 control-label"
                                           for="nickname">Nickname</label>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <input class="form-control" id="nickname" name="nickname" th:field="*{nickname}"
                                               value="${changeRequest.nickname}" maxlength="50"/>
                                <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"
                                      id="nicknameError"
                                      class="help-block">Nickname Error</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                                    <label class="col-xs-12 col-sm-4 col-lg-4 control-label" for="email">Email</label>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <input class="form-control" id="email" name="email" th:field="*{email}"
                                               value="${changeRequest.email}" type="email"/>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailError"
                                      class="help-block">Email Error</span>
                                    </div>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('payPalEmail')} ? 'has-error'">
                                    <label class="col-xs-12 col-sm-4 col-lg-4 control-label" for="payPalEmail">PayPal
                                        email</label>

                                    <div class="col-xs-12 col-sm-8 col-lg-8">
                                        <input class="form-control" id="payPalEmail" name="payPalEmail"
                                               th:field="*{payPalEmail}"
                                               value="${changeRequest.payPalEmail}" type="email"/>
                                <span th:if="${#fields.hasErrors('payPalEmail')}" th:errors="*{payPalEmail}"
                                      id="payPalEmailError"
                                      class="help-block">PayPal email Error</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-offset-0 col-sm-offset-2 col-lg-offset-2 col-xs-12 col-xs-10 col-xs-10">
                                        <div sec:authorize="!hasRole('ROLE_ADMIN')" class="left">
                                            <input type="submit" name="action" class="btn btn-primary"
                                                   value="Send Request"/>
                                        </div>
                                        <div class="left" sec:authorize="!hasRole('ROLE_ADMIN')">
                                            <input type="submit" name="action" class="btn btn-danger"
                                                   value="Delete Account"
                                                   onclick="return confirm('Are you sure you want to send a deletion request? Once accepted, this can\'t be reverted')"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body panel-gray">
                            <form action="#" th:action="@{/change-password}" th:object="${passwordChangeDTO}"
                                  method="post"
                                  class="form-horizontal">

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <h1 class="with-bottom-margin text-center">Change password</h1>
                                </div>

                                <div class="form-group"  th:classappend="${#fields.hasErrors('currentPassword')} ? 'has-error'" 
                                       sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                                    <label class="col-xs-12 col-sm-5 col-lg-5 control-label" for="currentPassword">Current
                                        password</label>

                                    <div class="col-xs-12 col-sm-7 col-lg-7">
                                        <input class="form-control" id="currentPassword" name="currentPassword"
                                               placeholder="Current password" type="password"/>
                                        <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" 
                                               id="currentPasswordError" class="help-block">Password Error</span>
                                    </div>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'"
                                     sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                                    <label class="col-xs-12 col-sm-5 col-lg-5 control-label" for="newPassword">New
                                        password</label>

                                    <div class="col-xs-12 col-sm-7 col-lg-7">
                                        <input class="form-control" id="newPassword" name="newPassword"
                                               th:field="*{newPassword}" placeholder="New password" type="password" maxlength="50"/>
                                        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                              id="newPasswordError" class="help-block">Password Error</span>
                                    </div>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('repeatedNewPassword')} ? 'has-error'"
                                     sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                                    <label class="col-xs-12 col-sm-5 col-lg-5 control-label" for="repeatedNewPassword">Repeat</label>

                                    <div class="col-xs-12 col-sm-7 col-lg-7">
                                        <input class="form-control" id="repeatedNewPassword" name="repeatedNewPassword"
                                               th:field="*{repeatedNewPassword}" placeholder="Repeat new password"
                                               type="password" maxlength="50"/>
                                        <span th:if="${#fields.hasErrors('repeatedNewPassword')}"
                                              th:errors="*{repeatedNewPassword}" id="repeatedNewPasswordError"
                                              class="help-block">Password repeat Error</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-offset-0 col-sm-offset-2 col-lg-offset-2 col-xs-12 col-xs-10 col-xs-10">
                                        <button type="submit" class="btn btn-primary">Change password</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

