<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: head" />

<body class="body-scroll">
<nav th:replace="fragments/navbar :: navbar" />

<div class="container" role="main">
	<div th:replace="fragments/platform-message :: platform-message"/>

	<div class="form-group" align="center">
		
	</div>

	<form th:action="@{/update-book}" th:object="${bookDTO}" method="POST" enctype="multipart/form-data" accept-charset="UTF-8" class="form-horizontal">

		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="id" th:value="${bookDTO.id}" />
		<div class="row">
		
			<div class="col-xs-12 col-sm-4 col-lg-4" align="center">
				<img class="img-responsive" th:if="${bookBase64Image}" th:attr="src=@{${bookBase64Image}}"/>
			</div>
			
	    	<div class="col-xs-12 col-sm-8 col-lg-8">
	        	<div class="panel panel-default">
	            	<div class="panel-body panel-gray">
	            			
	            		<div class="col-xs-12 col-sm-12 col-lg-12">
                            <h1 th:if="${newBook}">Add Book</h1>
							<h1 th:unless="${newBook}">Update Book</h1>
                        </div>
	            	
		            	<div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
							<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="title">Book Title</label>
							<div class="col-xs-12 col-sm-9 col-lg-10">
								<input class="form-control" id="title" name="title" th:value="${bookDTO.title}" th:field="*{title}" placeholder="Book Title" maxlength="50" />
								<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" id="titleError" class="help-block">Title Error</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="author">Author</label>
							<div class="col-xs-12 col-sm-9 col-lg-10">
								<input class="form-control" id="author" name="author" th:value="${bookDTO.author}" placeholder="Book Author" maxlength="50" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="description">Description</label>
							<div class="col-xs-12 col-sm-9 col-lg-10">
								<textarea class="form-control" id="description" name="description" th:text="${bookDTO.description}" rows="6" maxlength="500"></textarea>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('isbn')} ? 'has-error'">
							<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="isbn">ISBN</label>
							<div class="col-xs-12 col-sm-9 col-lg-10">
								<input class="form-control" id="isbn" name="isbn" th:value="${bookDTO.isbn}" th:field="*{isbn}" placeholder="Book ISBN" />
								<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" id="isbnError" class="help-block">ISBN Error</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="image">Image</label>
							<div class="col-xs-12 col-sm-9 col-lg-10">
								<input id="image" name="image" type="file" accept="image/*" th:field="*{image}" />
								<span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" id="imageError" class="help-block">Image Error</span>
							</div>
						</div>
						<div th:if="${bookBase64Image}" class="form-group">
            				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label" for="removeImage">Remove image</label>
            				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
            					<input type="checkbox" id="removeImage" name="removeImage" th:field="*{removeImage}"/>
        					</div>
						</div>
						<div class="form-group">
							<div class="col-xs-offset-0 col-sm-offset-2 col-lg-offset-2 col-xs-12 col-xs-10 col-xs-10">
								<button type="submit" class="btn btn-default btn-primary">Save</button>
								<a th:unless="${newBook}" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this book? Once accepted, this can\'t be reverted')"
                                        th:href="@{'/delete/'+${bookDTO.id}}">Delete Book</a>
							</div>
						</div>
	                </div>
	        	</div>
	    	</div>
	    </div>
		
	</form>

</div>
</body>
</html>
