<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="'SecondHandBooks ' + (${title} != null ? ${title} : '')">SecondHandBooks</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <!-- TODO: JS should be loaded at the end for faster page loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.vertical-tabs.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/landing-page.css}" />

</head>

<body class="body-scroll">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav th:replace="fragments/navbar-landing-page :: navbar"/>

<div role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <!-- Header -->
    <a name="about"></a>

    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SecondHandBooks</h1>

                        <h3>Just Books.</h3>
                        <hr class="intro-divider" />
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a th:href="@{/sell-book-overview}" class="btn btn-primary btn-lg">
                                    <span class="network-name">Books</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/showcases}" class="btn btn-primary btn-lg">
                                    <span class="network-name">Showcases</span>
                                </a>
                            </li>
                            <li>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-default btn-lg">
                                    <span class="network-name">Login</span>
                                </a>
                            </li>
                            <li>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" class="btn btn-default btn-lg">
                                    <span class="network-name">Register</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a name="services"></a>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SecondHandBooks is:<br /> a marketplace</h2>
                    <p class="lead">SecondHandBooks makes it easy to buy and sell used books. We invite you to have a look at our <a th:href="@{/showcases}">showcases</a> to see what other users offer.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" th:src="@{static/images/frontpage3.png}" alt=""/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SecondHandBooks is:<br /> an archive</h2>
                    <p sec:authorize="!isAuthenticated()" class="lead">Managing and keeping track about books you have can be an exhausting task. SecondHandBooks offers you a helping hand for that. Just <a th:href="@{/registration}">register a new account</a> and see how easy it can be!</p>
                    <p sec:authorize="isAuthenticated()" class="lead">Managing and keeping track about books you have can be an exhausting task. SecondHandBooks offers you a helping hand for that. Just <a th:href="@{/bookoverview}">add your books</a> and see how easy it can be!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" th:src="@{static/images/frontpage1.png}" alt=""/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SecondHandBooks is:<br/> easy to use</h2>

                    <p class="lead">Keep it simple, keep it smart: That's the way SecondHandBooks is designed. You want
                        to store, buy and sell books. That's what SecondHandBooks offers. Nothing more.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" th:src="@{static/images/frontpage2.png}" alt=""/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="contact"></a>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright text-muted small">Copyright &copy; SDF Team D 2015. All Rights Reserved</p>
                </div>
                <div class="col-lg-6">
                    <div class="fb-like" data-href="https://ws15sdf-d.f4.htw-berlin.de/" 
							data-layout="standard" data-action="like" data-show-faces="true" 
							data-share="true">
					</div>
				</div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>