<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <!-- <form class="form-horizontal" name='f' action="j_spring_security_check" method='POST'> -->
    <form th:action="@{/login}" method='POST' class="form-horizontal">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-sm-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body panel-gray">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h1 class="with-bottom-margin text-center">Login</h1>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <div th:if="${param.error != null}" class="alert alert-warning" role="alert">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    Invalid login data.
                                </div>
                                <div th:if="${param.logout != null}" class="alert alert-success" role="alert">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    You have been logged out successfully.
                                </div>
                                <div th:if="${param.expired != null}" class="alert alert-warning" role="alert">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    Your profile got changed. Please, log in.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-xs-12 col-sm-2 col-lg-2 control-label">Email:</label>

                            <div class="col-xs-12 col-sm-10 col-lg-10">
                                <input class="form-control" id="email" placeholder="Enter Email" type="email"
                                       name="email" maxlength="254"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-xs-12 col-sm-2 col-lg-2 control-label">Password:</label>

                            <div class="col-xs-12 col-sm-10 col-lg-10">
                                <input class="form-control" id="password" placeholder="password" type="password"
                                       name="password" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-0 col-sm-offset-2 col-lg-offset-2 col-xs-12 col-xs-10 col-xs-10">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer clearfix no-bottom-margin">
                        <span class="col-xs-12 col-sm-12 col-lg-12 text-center"><a th:href="@{/registration}" href="/registration">Not registered
                            yet?</a></span>
                        <span class="col-xs-12 col-sm-12 col-lg-12 text-center"><a th:href="@{/forgot-password}" href="/forgot-password">Forgot
                            password?</a></span>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>


</body>
</html>