<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>
    <div class="form-group row">
        <label class="col-xs-12 control-label" for="adminRights">
            <a th:href="@{/notification/email}">Receive Notifications via E-Mail
                <input type="checkbox" id="emailNotifications" name="emailNotifications"
                       th:checked="${emailNotifications}" th:value="${emailNotifications}"/>
            </a>
        </label>
    </div>
    <form action="#" th:action="@{/notifications?display=newNotifications}" th:object="${notificationDTOListWrapper}"
          method="post" class="form-horizontal">

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-3">

                <div class="panel panel-default">
                    <div class="panel-body">
	
                        <div th:if="${display} != 'oldNotifications'">
                                <div class="col-xs-7 col-sm-12 col-lg-12">
                                    <a th:href="@{/notifications?display=newNotifications}"
                                       class="btn btn-primary pull-right" type="button">
                                        New <span class="badge" th:utext="${newNotificationCount}"></span>
                                    </a>
                                </div>
                                <div class="col-xs-5 col-sm-12 col-lg-12">
                                    <a th:href="@{/notifications?display=oldNotifications}"
                                       class="notifications-buttons with-top-margin-responsiv pull-right" type="button">
                                        Old <span class="badge" th:utext="${oldNotificationCount}"></span>
                                    </a>
                                </div>
                        </div>
                        <div th:if="${display} == 'oldNotifications'">
                                <div class="col-xs-7 col-sm-12 col-lg-12">
                                    <a th:href="@{/notifications?display=newNotifications}" class="notifications-buttons pull-right">
                                        New <span class="badge" th:utext="${newNotificationCount}"></span>
                                    </a>
                                </div>
                                <div class="col-xs-5 col-sm-12 col-lg-12">
                                    <a th:href="@{/notifications?display=oldNotifications}"
                                       class="btn btn-primary with-top-margin-responsiv pull-right"
                                       type="button">
                                        Old <span class="badge" th:utext="${oldNotificationCount}"></span>
                                    </a>
                                </div>
                        </div>                    
                            
                            <div th:if="${display} != 'oldNotifications'">
                                <div class="col-xs-7 col-sm-12 col-lg-12">
                                    <input type="submit" name="action"
                                           class="btn btn-default with-top-margin pull-right"
                                           value="Mark selected as read"
                                           id="new-board-btn"/>
                                </div>
                                <div class="col-xs-5 col-sm-12 col-lg-12">
                                    <button type="button" class="btn btn-default with-top-margin pull-right"
                                            th:disabled="true" id="new-board-btn">
                                        Delete selected
                                    </button>
                                </div>
                            </div>
                            <div th:if="${display} == 'oldNotifications'">
                                <div class="col-xs-7 col-sm-12 col-lg-12">
                                    <button type="button" class="btn btn-default with-top-margin pull-right"
                                            th:disabled="true" id="new-board-btn">
                                        Mark selected as read
                                    </button>
                                </div>

                                <div class="col-xs-5 col-sm-12 col-lg-12">
                                    <input type="submit" name="action"
                                           class="btn btn-default with-top-margin pull-right"
                                           value="Delete selected"
                                           id="new-board-btn"/>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <nav th:if="${page.totalPages} gt 1" class="text-center">
                            <ul class="pagination">
                                <li th:class="${page.first} ? 'disabled'">
                                    <a th:if="${display}" href="#"  th:href="${page.first} ? '#' : @{/notifications/{page}?display={display}(page=${page.number},display=${display})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <a th:unless="${display}" href="#"  th:href="${page.first} ? '#' : @{/notifications/{page}(page=${page.number})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="p : ${#numbers.sequence(1, page.totalPages)}" th:class="${p} eq ${page.number} + 1 ? 'active'">
                                    <a th:if="${display}" href="#" th:href="@{/notifications/{page}?display={display}(page=${p},display=${display})}" th:text="${p}"></a>
                                    <a th:unless="${display}" href="#" th:href="@{/notifications/{page}(page=${p})}" th:text="${p}"></a>
                                </li>

                                <li th:class="${page.last} ? 'disabled'">
                                    <a th:if="${display}" href="#" th:href="${page.last} ? '#' : @{/notifications/{page}?display={display}(page=${page.number} + 2,display=${display})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <a th:unless="${display}" href="#" th:href="${page.last} ? '#' : @{/notifications/{page}(page=${page.number} + 2)}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>

                        <div th:if="${display} != 'oldNotifications' and ${newNotificationCount} == 0"
                             class="alert alert-success col-xs-12 col-sm-12 col-lg-12" role="alert">
                            <strong>No new messages.</strong>
                        </div>
                        <div th:if="${display} == 'oldNotifications' and ${oldNotificationCount} == 0"
                             class="alert alert-success col-xs-12 col-sm-12 col-lg-12" role="alert">
                            <strong>No old messages.</strong>
                        </div>

                        <div class="row"
                             th:if="(${display} != 'oldNotifications' and ${newNotificationCount} > 0)
                         or (${display} == 'oldNotifications' and ${oldNotificationCount} > 0)">
                            <div class="col-xs-9 col-sm-10 col-lg-10 text-center"><h4>Message</h4></div>
                            <div class="col-xs-3 col-sm-2 col-lg-2 text-center"><h4>Select</h4></div>
                        </div>

                        <div class="row" th:each="notificationDTO, rowStat :*{notificationDTOList}">
                            <div class="col-xs-10 col-sm-10 col-lg-10">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse"
                                             th:href="'#collapse' + ${notificationDTO.id}"
                                             style="cursor: pointer">
                                            <h4 class="panel-title">
                                                <b><span th:utext="${notificationDTO.title}"></span></b>
                                                <span class="pull-right" th:utext="${#dates.format(notificationDTO.timeAdded, 'dd.MM.yyyy HH:mm')}"></span>
                                            </h4>
                                        </div>
                                        <div th:id="'collapse' + ${notificationDTO.id}" class="panel-collapse collapse">
                                            <div class="panel-body"><span th:utext="${notificationDTO.message}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-2 col-sm-2 col-lg-2">
                                <input type="checkbox" id="read" name="read"
                                       th:field="*{notificationDTOList[__${rowStat.index}__].read}"/>
                            </div>

                            <input type="hidden" th:field="*{notificationDTOList[__${rowStat.index}__].id}"/>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>