<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${user.getDisplayName()}" class="text-center"></h3></b></li>
                <li><a th:href="@{/showcaseoverview/{uid}(uid=${user.getId()})}">Showcase</a></li>
                <li><a th:href="@{/user/{uid}/profile(uid=${user.getId()})}">Profile</a></li>
                <li><a th:href="@{/user/{uid}/ratings(uid=${user.getId()})}">Ratings</a></li>
                <li><a th:href="@{/bookoverview}">Archive</a></li>
                <li class="active"><a th:href="@{/offersoverview}">My offers</a></li>
                <li><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>
		
		
        <div class="col-xs-12 col-sm-10 col-lg-10">
            <div class="row">
            	<div class="alert alert-info" style="margin-top: 5pt;" role="alert" th:if="${user.getOffers().isEmpty()}">No Offers yet</div>
                <div class="col-xs-12 col-sm-6 col-lg-4" th:each="book: ${user.getOffers()}">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <div class="image">
                                        <img class="img img-responsive" th:if="${book.image}"
                                             th:src="@{${book.getImageBase64()}}"/>
                                        <img class="img img-responsive" th:unless="${book.image}"
                                             th:src="@{/static/images/dummy.jpg}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <h3 class="one-line" th:text="${book.getTitle()}"></h3>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-lg-4">
                                    <span class="one-line" th:text="${book.getAuthor()}"></span>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-lg-8">
                                    <h3 th:text="${book.getOverallCostText()}" class="pull-right"></h3>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <h4 th:text="'Your offer ' +${book.getHighestOfferText()}"
                                        class="pull-right text-muted"></h4>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <h4 th:if="${book.isBought()}" th:text="'Offer accepted'"
                                        class="pull-right text-muted"></h4>
                                    <h4 th:unless="${book.isBought()}" th:text="'Not accepted'"
                                        class="pull-right text-muted"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix no-bottom-margin">
                            <div class="pull-right">
                                <a th:href="@{/buy-book/{id}(id=${book.getId()})}" class="btn btn-primary">View book</a>
                                <a th:if="${book.isBought()}" th:href="@{/pay-book/{id}(id=${book.getPaymentId()})}"
                                   class="button btn btn-success">Pay</a>
                                <a th:href="@{/cancel-offer/{id}(id=${book.getId()})}"
                                   class="button btn btn-default">Cancel offer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>