<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.spingframework.org/security/tags">

<head th:replace="fragments/head :: head"></head>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"></nav>


<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${user.getDisplayName()}" class="text-center"></h3></b></li>
                <li><a th:href="@{/showcaseoverview/{uid}(uid=${user.getId()})}">Showcase</a></li>
                <li class="active"><a th:href="@{/user/{uid}/profile(uid=${user.getId()})}">Profile</a></li>
                <li><a th:href="@{/user/{uid}/ratings(uid=${user.getId()})}">Ratings</a></li>
                <li th:if="${authedUser} == ${user.getEmail()}"><a th:href="@{/bookoverview}">Archive</a></li>
                <li th:if="${authedUser} == ${user.getEmail()}"><a th:href="@{/offersoverview}">My offers</a></li>
                <li th:if="${authedUser} == ${user.getEmail()}"><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-10">
            <div class="row">
                <div class="col-sm-offset-2 col-lg-offset-2 col-xs-12 col-sm-8 col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                    <h4><span th:text="'Displayed name:'" class="pull-right"></span></h4>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                    <h4><span th:text="${user.getDisplayName()}"></span></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-lg-6 vcenter with-bottom-margin">
                                    <h4><span th:text="'Rating:'" class="pull-right"></span></h4>
                                </div><!--
                             --><div class="col-xs-6 col-sm-6 col-lg-6 vcenter">
                                    <div th:unless="${user.getRating()} ge 0">
                                        <h4><span class="text-muted">No rating yet.</span></h4>
                                    </div>
                                    <div th:if="${user.getRating()} ge 0">
                                        <div class="rating_bar">
                                            <div th:style="'width:' + ${user.getRating()}+'%'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                    <h4><span th:text="'Books in showcase:'" class="pull-right"></span></h4>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-lg-6">
                                    <h4><span th:text="${booksToSaleCount}"></span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>