<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">

    <div th:replace="fragments/platform-message :: platform-message"/>

    <h3>Rate seller</h3>

    <div>
        <p th:text="${newRating}?
                'Please help the whole community by rating this seller. Feel free to just rate or even better' +
                'write some words with what is good or bad with this user.' :
                'You already rated this user. But you may update your rating if you think it is not up-to-date ' +
                'anymore or you just want to add or remove something.' ">
            Please rate this seller
        </p>
    </div>


    <div class="panel panel-default col-xs-12">
        <div class="panel-body">
            <form th:action="@{/rate/{soldBy_id}(soldBy_id=${seller.id})}" th:object="${ratingDTO}" method='POST'>
                <div class="form-group col-xs-12 col-md-3 col-sm-5"
                     th:classappend="${#fields.hasErrors('rating')} ? 'has-error'">
                    <ul class="rating-list list-unstyled list-group">
                        <li class="list-group-item ">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating lt 10}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 0%;">
                                    <input name="rating" type="radio" value="0"
                                           th:checked="${ratingDTO.rating lt 10}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating ge 10 and ratingDTO.rating lt 30}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 20%; ">
                                    <input name="rating" type="radio" value="20"
                                           th:checked="${ratingDTO.rating ge 10 and ratingDTO.rating lt 30}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating ge 30 and ratingDTO.rating lt 50}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 40%; ">
                                    <input name="rating" type="radio" value="40"
                                           th:checked="${ratingDTO.rating ge 30 and ratingDTO.rating lt 50}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating ge 50 and ratingDTO.rating lt 70}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 60%; ">
                                    <input name="rating" type="radio" value="60"
                                           th:checked="${ratingDTO.rating ge 50 and ratingDTO.rating lt 70}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating ge 70 and ratingDTO.rating lt 90}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 80%; ">
                                    <input name="rating" type="radio" value="80"
                                           th:checked="${ratingDTO.rating ge 70 and ratingDTO.rating lt 90}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="rating_bar big-star selection"
                                 th:classappend="${ratingDTO.rating ge 90}? 'checked'"
                                 onclick="swapClasses(this)">
                                <div style="width: 100%; ">
                                    <input name="rating" type="radio" value="100"
                                           th:checked="${ratingDTO.rating ge 90}? 'checked'"/>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="form-group col-xs-12 col-md-9 col-sm-7">
                     <textarea id="comment"
                               placeholder="Please share your experience about this user with the whole community"
                               name="comment"
                               class="form-control"
                               style="height: 325px;"
                               th:text="${ratingDTO.comment}"
                               maxlength="500"></textarea>
                </div>
                <div class="form-group col-xs-12">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="small">Icons made by <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works">Icon
        Works</a> from <a
            href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    function swapClasses(webElement) {
        var oldChecked = document.querySelector("div.checked");
        var classes = oldChecked.classList;
        classes.remove("checked");
        oldChecked.className = classes;

        classes = webElement.classList;
        classes.add("checked");
        webElement.className = classes;
    }
    ;

    /*]]>*/
</script>
</body>
</html>