<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.spingframework.org/security/tags">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <nav th:if="${page.totalPages} gt 1" class="text-center">
        <ul class="pagination">
            <li th:class="${page.first} ? 'disabled'">
                <a href="#" th:href="${page.first} ? '#' : @{/sell-book-overview/{page}(page=${page.number})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li th:each="p : ${#numbers.sequence(1, page.totalPages)}" th:class="${p} eq ${page.number} + 1 ? 'active'">
                <a href="#" th:href="@{/sell-book-overview/{page}(page=${p})}" th:text="${p}"></a>
            </li>

            <li th:class="${page.last} ? 'disabled'">
                <a href="#" th:href="${page.last} ? '#' : @{/sell-book-overview/{page}(page=${page.number} + 2)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>

    <form method="post" th:action="@{/sell-book-overview}" class="form-inline" >
			<div class="input-group col-xs-12 col-sm-5 col-lg-2">
				<span class="input-group-addon">Search in:</span>
				<select name="search-term-filter" id="search-term-filter" class="selectpicker form-control" title="Search in?">
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ALL}">All</option>
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).TITLE}">Title</option>
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).AUTHOR}">Author</option>
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).DESCRIPTION}">Description</option>
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ISBN}">ISBN</option>
					<option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).SELLER}">Seller</option>
				</select>
			</div>
			<div class="input-group col-xs-12 col-sm-5 col-lg-3">
				<input type="text" name="search-term" id="search-term" class="form-control" placeholder="Search" th:value="${bookFilter.searchTerm}" />
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">Search</button>
					<button class="btn btn-default" onclick="document.getElementById('search-term').value='';document.getElementById('search-term-filter').selectedIndex=0;document.getElementById('on-sale-filter').selectedIndex=0;">Reset</button>
				</div>
			</div>

			<div class="input-group col-xs-12 col-sm-5 col-lg-2">
				<span class="input-group-addon">Sort by:</span>
				<select name="sort-by" id="sort-by" class="selectpicker form-control" title="Sort by" onchange="this.form.submit()">
					<option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).DATE}">Date</option>
					<option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).TITLE}">Title</option>
					<option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).AUTHOR}">Author</option>
					<option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).PRICE}">Price</option>
				</select>
			</div>
			<div class="input-group col-xs-12 col-sm-5 col-lg-3">
				<span class="input-group-addon">Direction:</span>
				<select name="sort-direction" id="sort-direction" class="selectpicker form-control" title="Sort direction" onchange="this.form.submit()">
					<option th:selected="${bookSortFilter.direction.toString() == 'ASC'}">Ascending</option>
					<option th:selected="${bookSortFilter.direction.toString() == 'DESC'}">Descending</option>
				</select>
			</div>

			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" th:name="search-page" id="search-page" th:value="sell-book-overview" />
		</form>

    <div class="alert alert-info" style="margin-top: 5pt;" role="alert" th:if="${#lists.isEmpty(books)}"
         th:text="${bookFilter.searchTerm != ''} ? 'Nothing found with search term: ' + ${bookFilter.searchTerm} : 'There are no books.' ">
        Nothing found
    </div>

    <div class="row with-top-margin" th:if="${not #lists.isEmpty(books)}">
        <div class="col-xs-12 col-sm-6 col-lg-4" th:each="book: ${books}">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="own-book-item-overlay-container">
                                <div th:if="${authedUser} == ${book.getOwner().getEmail()}"
                                     class="own-book-item-overlay"></div>
                                <div class="image">
                                    <img class="img img-responsive" th:if="${book.image}"
                                         th:src="@{${book.getImageBase64()}}"/>
                                    <img class="img img-responsive" th:unless="${book.image}"
                                         th:src="@{/static/images/dummy.jpg}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h3 class="one-line" th:text="${book.getTitle()}"></h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <span class="one-line" th:text="${book.getAuthor()}"></span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <h3 th:text="${book.getOverallCostText()}" class="pull-right"></h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <h4 th:if="${book.hasOffer() and !book.isBought()}" class="text-success pull-right"
                                th:text="'Highest offer: ' + ${book.getHighestOfferText()}"></h4>
                            <h4 th:if="${!book.hasOffer()}" class="text-muted pull-right">No offer yet</h4>
                            <h4 th:if="${book.isBought()}" class="text-danger pull-right">SOLD</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="pull-right"
                                 th:text="'Sales-date '+${#dates.format(book.showcaseDateTime, 'dd.MM.yyyy HH:mm')}">no
                                date
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div th:unless="${book.getOwner().getRating()} ge 0">
                                <h4 class="pull-right">Seller: <a th:href="@{/showcaseoverview/{id}(id=${book.getOwner().getId()})}"
                                                                  th:text="${book.getOwner().getDisplayName()}"></a></h4>
                            </div>
                            <div th:if="${book.getOwner().getRating()} ge 0">
                                <div class="col-xs-12 col-sm-9 col-lg-9 vcenter">
                                    <h4 class="pull-right">Seller: <a th:href="@{/showcaseoverview/{id}(id=${book.getOwner().getId()})}"
                                                                      th:text="${book.getOwner().getDisplayName()}"></a></h4>
                                </div><!--
                             --><div class="col-xs-12 col-sm-3 col-lg-3 vcenter">
                                <div class="rating_bar">
                                    <div th:style="'width:' + ${book.getOwner().getRating()}+'%'"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix no-bottom-margin">
                    <div class="pull-right">
                        <a th:if="${authedUser} != ${book.getOwner().getEmail()}"
                           th:href="@{/buy-book/{id}(id=${book.getId()})}" class="btn btn-primary">View book</a>

                        <div th:if="${authedUser} == ${book.getOwner().getEmail()}">
                            <a th:href="@{/edit/{id}(id=${book.getId()})}" class="btn btn-default">Edit book</a>
                            <a th:href="@{/sell-book/{id}(id=${book.getId()})}" class="btn btn-primary">Edit sale
                                offer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>