<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">  </head>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"> </nav>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${seller.getDisplayName()}" class="text-center"></h3></b></li>
                <li><a th:href="@{/showcaseoverview/{uid}(uid=${seller.getId()})}">Showcase</a></li>
                <li><a th:href="@{/user/{uid}/profile(uid=${seller.getId()})}">Profile</a></li>
                <li class="active"><a th:href="@{/user/{uid}/ratings(uid=${seller.getId()})}">Ratings</a></li>
                <li th:if="${authedUser} == ${seller.getEmail()}"><a th:href="@{/bookoverview}">Archive</a></li>
                <li th:if="${authedUser} == ${seller.getEmail()}"><a th:href="@{/offersoverview}">My offers</a></li>
                <li th:if="${authedUser} == ${seller.getEmail()}"><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-10 col-lg-10">
	        <div class="row">
		        <nav th:if="${page.totalPages} gt 1" class="text-center">
		            <ul class="pagination">
		                <li th:class="${page.first} ? 'disabled'">
		                    <a href="#" th:href="${page.first} ? '#' : @{/user/{uid}/ratings/page/{page}(uid=${seller.getId()},page=${page.number})}"
		                       aria-label="Previous">
		                        <span aria-hidden="true">&laquo;</span></a>
		                </li>
		                <li th:each="p : ${#numbers.sequence(1, page.totalPages)}"
		                    th:class="${p} eq ${page.number} + 1 ? 'active'">
		                    <a href="#" th:href="@{/user/{uid}/ratings/page/{page}(uid=${seller.getId()},page=${p})}" th:text="${p}"></a>
		                </li>
		
		                <li th:class="${page.last} ? 'disabled'">
		                    <a href="#"
		                       th:href="${page.last} ? '#' : @{/user/{uid}/ratings/page/{page}(uid=${seller.getId()},page=${page.number} + 2)}"
		                       aria-label="Next">
		                        <span aria-hidden="true">&raquo;</span>
		                    </a>
		                </li>
		            </ul>
		        </nav>
		    </div>
            <div class="row" th:if="${not #lists.isEmpty(sellerRatings)}">
                <div class="col-xs-12 col-sm-12 col-lg-12" th:each="rating: ${sellerRatings}">
                    <div th:if="${rating.rating} ge 0" class="panel panel-default rating_profile">
                        <div class="panel-heading">
                            <div class="rating_bar" style="height: 15px; display: inline-block; *display: inline;">
                                <div th:style="'width:'+ ${rating.getRating()} +'%'"></div>
                            </div>
                            <span class="panel-title pull-right" th:text="${rating.getShortDate()}"></span>
                        </div>												
                        <div class="panel-body">
                            <p class="small" th:text="${rating.getComment()}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info" style="margin-top: 5pt;" role="alert" th:if="${#lists.isEmpty(sellerRatings)}">This User did not have any ratings.</div>
        </div>
    </div>

</div>

</body>
</html>
