<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head" />

<body class="body-scroll">
	<nav th:replace="fragments/navbar :: navbar" />

	<div class="container" role="main">
		<div th:replace="fragments/platform-message :: platform-message"/>
		
		<form th:object="${bookSellDto}" method="POST"  accept-charset="UTF-8" class="form-horizontal">
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" name="bookId" th:value="${bookSellDto.id}" />
			<div class="row">
			
				<div class="col-xs-12 col-sm-4 col-lg-4" align="center">
					<img class="img-responsive" th:if="${bookBase64Image}" th:attr="src=@{${bookBase64Image}}"/>
				</div>
			
	            <div class="col-xs-12 col-sm-8 col-lg-8">
	                <div class="panel panel-default">
	                    <div class="panel-body panel-gray">
	                    	
	                    	<div class="col-xs-12 col-sm-12 col-lg-12">
                            	<h1 class="with-bottom-margin text-center">Sell Book</h1>
                        	</div>
                        	
                        	<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label">Title</label>
								<div class="col-xs-12 col-sm-9 col-lg-10">
									<p class="form-control-static" th:text="${bookSellDto.title}">Book Title</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label">Author</label>
								<div class="col-xs-12 col-sm-9 col-lg-10" >
									<p class="form-control-static" th:text="${bookSellDto.author}"> Author 
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label">Description</label>
								<div class="col-xs-12 col-sm-9 col-lg-10" >
									<p class="form-control-static" th:text="${bookSellDto.description}">Book 
									Description</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label">ISBN</label>
								<div class="col-xs-12 col-sm-9 col-lg-10" >
									<p class="form-control-static" th:text="${bookSellDto.isbn}">ISBN</p>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error'">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="price">Price</label>
								<div class="col-xs-12 col-sm-9 col-lg-10">
									<input class="form-control" id="price" name="price"
										placeholder="price" th:value="${bookSellDto.price}" th:field="*{price}" />
									<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" id="priceError" class="help-block">Price Error</span>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('shippingCost')} ? 'has-error'">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label " for="shippingCost">Shipping
									cost</label>
								<div class="col-xs-12 col-sm-9 col-lg-10">
									<input class="form-control" id="shippingCost" name="shippingCost"
										placeholder="Shipping cost" th:value="${bookSellDto.shippingCost}" th:field="*{shippingCost}" />
									<span th:if="${#fields.hasErrors('shippingCost')}" th:errors="*{shippingCost}" id="shippingCostError" class="help-block">Shipping cost Error</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-lg-2 control-label" for="offeredPrice">Current
									highest offer (excl. shipping costs)</label>
								<div class="col-xs-12 col-sm-9 col-lg-10" >
									<p class="form-control-static" id="offeredPrice" th:text="${#numbers.formatDecimal(bookSellDto.offeredPrice, 1, 2)}+&euro;">Highest offer</p>
								</div>
							</div>
			
							<div class="form-group">
								<div class="col-xs-offset-0 col-sm-offset-2 col-lg-offset-2 col-xs-12 col-xs-10 col-xs-10">
									<button th:unless="${bookSellDto.toSale}" type="submit" class="btn btn-default btn-primary">Set on sale</button>
									<button th:if="${bookSellDto.updateBookSale}" type="submit" class="btn btn-default btn-primary">Update price</button>
									 <a th:if="${bookSellDto.validOfferAvailable and !bookSellDto.bought}" th:href="@{/accept-book-offer/{id}(id=${bookSellDto.id})}"
										   class="button btn btn-success">Accept offer</a>
									 <a th:if="${bookSellDto.toSale and !bookSellDto.bought}" th:href="@{/sell-book-cancel/{bookId}(bookId=${bookSellDto.id})}"
										   class="button btn btn-default">Remove from sale</a>
								</div>
							</div>                   	
	                    </div>
	                </div>   
	            </div>
            </div>
			
		</form>
		
		
	</div>
</body>
</html>
