<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-lg-2">
            <ul class="nav nav-tabs tabs-left">
                <li><b><h3 th:text="${showcaseOwner.getDisplayName()}" class="text-center"></h3></b></li>
                <li class="active"><a th:href="@{/showcaseoverview/{uid}(uid=${showcaseOwner.getId()})}">Showcase</a>
                </li>
                <li><a th:href="@{/user/{uid}/profile(uid=${showcaseOwner.getId()})}">Profile</a></li>
                <li><a th:href="@{/user/{uid}/ratings(uid=${showcaseOwner.getId()})}">Ratings</a></li>
                <li th:if="${authedUser} == ${showcaseOwner.getEmail()}"><a th:href="@{/bookoverview}">Archive</a></li>
                <li th:if="${authedUser} == ${showcaseOwner.getEmail()}"><a th:href="@{/offersoverview}">My offers</a>
                </li>
                <li th:if="${authedUser} == ${showcaseOwner.getEmail()}"><a th:href="@{/edit-profile}">Edit Profile</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-10 col-lg-10">
            <div th:if="${not #lists.isEmpty(books) or bookFilter.searchTerm != null}">
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${authedUser} != ${showcaseOwner.getEmail()}">
                        <div data-toggle="collapse" data-target="#demo">
                            <a href="#"><span>Report this showcase</span></a>
                        </div>

                        <div id="demo" class="panel-collapse collapse">
                            <form action="#" th:action="@{/showcaseoverview/report/{uid}(uid=${showcaseOwner.getId()})}"
                                  th:object="${userToReport}"
                                  method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                            <textarea class="form-control" rows="3" placeholder="Reason"
                                      th:field="*{reason}" maxlength="500"></textarea>

                                <input class="btn btn-default" type="submit" name="action" value="Report"
                                       onclick="return confirm('Are you sure you want to report this showcase?')"/>
                            </form>
                        </div>
                    </div>
                </div>

                <nav th:if="${page.totalPages} gt 1" class="text-center">
                    <ul class="pagination">
                        <li th:class="${page.first} ? 'disabled'">
                            <a href="#"
                               th:href="${page.first} ? '#' : @{/showcaseoverview/{uid}/page/{page}(uid=${showcaseOwner.getId()},page=${page.number})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li th:each="p : ${#numbers.sequence(1, page.totalPages)}"
                            th:class="${p} eq ${page.number} + 1 ? 'active'">
                            <a href="#"
                               th:href="@{/showcaseoverview/{uid}/page/{page}(uid=${showcaseOwner.getId()},page=${p})}"
                               th:text="${p}"></a>
                        </li>

                        <li th:class="${page.last} ? 'disabled'">
                            <a href="#"
                               th:href="${page.last} ? '#' : @{/showcaseoverview/{uid}/page/{page}(uid=${showcaseOwner.getId()},page=${page.number} + 2)}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="row">
                    <form method="post" th:action="@{/showcaseoverview/{uid}(uid=${showcaseOwner.getId()})}" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon">Search in:</span>
                            <select name="search-term-filter" id="search-term-filter" class="selectpicker form-control"
                                    title="Search in?">
                                <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ALL}">
                                    All
                                </option>
                                <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).TITLE}">
                                    Title
                                </option>
                                <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).AUTHOR}">
                                    Author
                                </option>
                                <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).DESCRIPTION}">
                                    Description
                                </option>
                                <option th:selected="${bookFilter.searchField == T(de.htw.secondhandbooks.filter.BookSearchField).ISBN}">
                                    ISBN
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" name="search-term" id="search-term" class="form-control"
                                   placeholder="Search" th:value="${bookFilter.searchTerm}"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search</button>
                                <button class="btn btn-default"
                                        onclick="document.getElementById('search-term').value='';document.getElementById('search-term-filter').selectedIndex=0;document.getElementById('on-sale-filter').selectedIndex=0;">
                                    Reset
                                </button>
                            </div>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">Sort by:</span>
                            <select name="sort-by" id="sort-by" class="selectpicker form-control" title="Sort by"
                                    onchange="this.form.submit()">
                                <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).DATE}">
                                    Date
                                </option>
                                <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).TITLE}">
                                    Title
                                </option>
                                <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).AUTHOR}">
                                    Author
                                </option>
                                <option th:selected="${bookSortFilter.sortBy == T(de.htw.secondhandbooks.filter.BookSortField).PRICE}">
                                    Price
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Direction:</span>
                            <select name="sort-direction" id="sort-direction" class="selectpicker form-control"
                                    title="Sort direction" onchange="this.form.submit()">
                                <option th:selected="${bookSortFilter.direction.toString() == 'ASC'}">Ascending</option>
                                <option th:selected="${bookSortFilter.direction.toString() == 'DESC'}">Descending
                                </option>
                            </select>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:name="search-page" id="search-page" th:value="showcaseoverview"/>
                    </form>
                </div>

                <div class="alert alert-info" style="margin-top: 5pt;" role="alert" th:if="${#lists.isEmpty(books)}"
                     th:text="${bookFilter.searchTerm != ''} ? 'Nothing found with search term: ' + ${bookFilter.searchTerm} : 'There are no books.' ">
                    Nothing found
                </div>

                <div class="row with-top-margin" th:if="${not #lists.isEmpty(books)}">
                    <div class="col-xs-12 col-sm-6 col-lg-4" th:each="book: ${books}">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <div class="image">
                                            <img class="img img-responsive" th:if="${book.image}"
                                                 th:src="@{${book.getImageBase64()}}"/>
                                            <img class="img img-responsive" th:unless="${book.image}"
                                                 th:src="@{/static/images/dummy.jpg}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <h3 class="one-line" th:text="${book.getTitle()}"></h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-6">
                                        <span class="one-line" th:text="${book.getAuthor()}"></span>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-6">
                                        <h3 th:text="${book.getOverallCostText()}" class="pull-right"></h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <h4 th:if="${book.hasOffer() and !book.isBought()}"
                                            class="text-success pull-right"
                                            th:text="'Highest offer: ' + ${book.getHighestOfferText()}"></h4>
                                        <h4 th:if="${!book.hasOffer()}" class="text-muted pull-right">No offer yet</h4>
                                        <h4 th:if="${book.isBought()}" class="text-danger pull-right">SOLD</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix no-bottom-margin">
                                <div class="pull-right">
                                    <a th:if="${authedUser} != ${book.getOwner().getEmail()}"
                                       th:href="@{/buy-book/{id}(id=${book.getId()})}" class="btn btn-primary">View
                                        book</a>

                                    <div th:if="${authedUser} == ${book.getOwner().getEmail()}">
                                        <a th:href="@{/edit/{id}(id=${book.getId()})}" class="btn btn-default">Edit
                                            book</a>
                                        <a th:href="@{/sell-book/{id}(id=${book.getId()})}" class="btn btn-primary">Edit
                                            sale
                                            offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(books) and authedUser == showcaseOwner.getEmail()}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="lead text-center"> This view will provide you an overview of all your books
                            you set on sale. <br/> <br/>
                            Since you have no book on sale, this page is quite empty, currently. If you want to sell a
                            book you can do it in your achive.</p>
                        <div class="col-xs-12 text-center">
                            <a th:href="@{/bookoverview}" class="btn btn-primary" role="button">Visit your achive</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>