<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" role="main">

    <div th:replace="fragments/platform-message :: platform-message"/>

    <nav th:if="${page.totalPages} gt 1" class="text-center">
        <ul class="pagination">
            <li th:class="${page.first} ? 'disabled'">
                <a href="#" th:href="${page.first} ? '#' : @{/showcases/{page}(page=${page.number})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li th:each="p : ${#numbers.sequence(1, page.totalPages)}" th:class="${p} eq ${page.number} + 1 ? 'active'">
                <a href="#" th:href="@{/showcases/{page}(page=${p})}" th:text="${p}"></a>
            </li>

            <li th:class="${page.last} ? 'disabled'">
                <a href="#" th:href="${page.last} ? '#' : @{/showcases/{page}(page=${page.number} + 2)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>

    <form method="post" th:action="@{/showcases}" class="form-inline text-center" >
        <div class="input-group">
            <input type="text" name="search-term" id="search-term" class="form-control" placeholder="Search by seller" th:value="${userFilter.searchTerm}" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">Search</button>
                <button class="btn btn-default" onclick="document.getElementById('search-term').value=''">Reset</button>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Sort by:</span>
            <select name="sort-by" id="sort-by" class="selectpicker form-control" title="Sort by" onchange="this.form.submit()">
                <option th:selected="${userSortFilter.sortBy == T(de.htw.secondhandbooks.filter.UserSortField).SELLER}" value="seller-name">Seller name</option>
                <option th:selected="${userSortFilter.sortBy == T(de.htw.secondhandbooks.filter.UserSortField).DATE}" value="newest-books">Newest books</option>
            </select>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:name="search-page" id="search-page" th:value="showcases" />
    </form>

    <div class="alert alert-info" style="margin-top: 5pt;" role="alert" th:if="${#lists.isEmpty(showcases)}" th:text="${userFilter.searchTerm != '' } ? 'No showcases found with User: ' + ${userFilter.searchTerm} : 'There are no showcases with books :(' ">Nothing found</div>

    <div class="row with-top-margin" th:if="${not #lists.isEmpty(showcases)}">
        <div class="col-xs-12 col-sm-6 col-lg-4" th:each="userWithShowcase : ${showcases}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="image">
                                <img class="img img-responsive"
                                     th:if="${userWithShowcase.getBooksOnSale().get(0).image}"
                                     th:src="@{${userWithShowcase.getBooksOnSale().get(0).getImageBase64()}}"/>
                                <img class="img img-responsive"
                                     th:unless="${userWithShowcase.getBooksOnSale().get(0).image}"
                                     th:src="@{/static/images/dummy.jpg}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row with-top-margin">
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <h4><span th:text="'Showcase from:'" class="pull-right"></span></h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <h4><span th:text="${userWithShowcase.getDisplayName()}"></span></h4>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-lg-6 vcenter with-bottom-margin">
                                <h4><span th:text="'Rating:'" class="pull-right"></span></h4>
                            </div><!--
                         --><div class="col-xs-6 col-sm-6 col-lg-6 vcenter">
                                <div th:unless="${userWithShowcase.getRating()} ge 0">
                                    <h4><span class="text-muted">No rating yet.</span></h4>
                                </div>
                                <div th:if="${userWithShowcase.getRating()} ge 0">
                                    <div class="rating_bar">
                                        <div th:style="'width:' + ${userWithShowcase.getRating()}+'%'"></div>
                                    </div>
                               </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <h4><span th:text="'Books:'" class="pull-right"></span></h4>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6">
                            <h4><span th:text="${userWithShowcase.getBooksOnSale().size()}"></span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix no-bottom-margin">
                    <div class="pull-right">
                        <a th:href="@{/showcaseoverview/{id}(id=${userWithShowcase.getId()})}" class="btn btn-primary">Visit
                            showcase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>