<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head" />

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar" />

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <h2>Your data:</h2>

	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">Name:</div>
		<div class="col-xs-12 col-sm-9 col-lg-10" th:text="${userDTO.name}">Name</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">Surname:</div>
		<div class="col-xs-12 col-sm-9 col-lg-10" th:text="${userDTO.surname}">Surname</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">Nickname:</div>
		<div class="col-xs-12 col-sm-9 col-lg-10" th:text="${userDTO.nickname}">Nickname</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">Email:</div>
		<div class="col-xs-12 col-sm-9 col-lg-10" th:text="${userDTO.email}">Email</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-2">PayPal email:</div>
		<div class="col-xs-12 col-sm-9 col-lg-10" th:text="${userDTO.payPalEmail}">PayPal email</div>
	</div>

    <div class="panel panel-primary">
        <div class="panel-heading">Please activate your account!</div>
        <div class="panel-body">
            All instructions for activating are sent to your email.
        </div>
    </div>

</div>


</body>
</html>