<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">  </head>

<body class="body-scroll">

<nav th:replace="fragments/navbar :: navbar"> </nav>

<div class="container" role="main">
    <div th:replace="fragments/platform-message :: platform-message"/>

    <nav th:if="${page.totalPages} gt 1">
        <ul class="pagination">
            <li th:class="${page.first} ? 'disabled'">
                <a href="#" th:href="${page.first} ? '#' : @{/admin/users/{page}(page=${page.number})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li th:each="p : ${#numbers.sequence(1, page.totalPages)}" th:class="${p} eq ${page.number} + 1 ? 'active'">
                <a href="#" th:href="@{/admin/users/{page}(page=${p})}" th:text="${p}"></a>
            </li>

            <li th:class="${page.last} ? 'disabled'">
                <a href="#" th:href="${page.last} ? '#' : @{/admin/users/{page}(page=${page.number} + 2)}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>

	<div id="no-more-tables">
		<div class="divtable col-sm-12 col-lg-12">
        	<div class="tablehead">
        		<div class="row tableheadrow">
        			<div class="col-sm-1 col-lg-1 tableHeadCol">ID</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol"  >Name</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Surname</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Nickname</div>
					<div class="col-sm-2 col-lg-2 tableHeadCol" >Email</div>
					<div class="col-sm-2 col-lg-2 tableHeadCol" >PayPal email</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Admin rights</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Enabled</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Showcase locked</div>
					<div class="col-sm-1 col-lg-1 tableHeadCol" >Edit</div>
        		</div>
        	</div>
        	<div class="tablebody">
		      	<div class="row tablerow" th:each="user : ${users}">
					<div class="col-sm-1 col-lg-1 tableBodyCol" th:text="${user.id}" data-title="ID">ID</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" th:text="${user.name}" data-title="Name">Name</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" th:text="${user.surname}" data-title="Surname">Surname</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" th:text="${user.nickname}" data-title="Nickname">Nickname</div>
					<div class="col-sm-2 col-lg-2 tableBodyCol" th:text="${user.email}" data-title="Email">Email</div>
					<div class="col-sm-2 col-lg-2 tableBodyCol" th:text="${user.payPalEmail}" data-title="Email">Email</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" data-title="Admin Rights">
						<p>
							<span th:class="${user.admin}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span>
						</p>
					</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" data-title="Enabled">
						<p>
							<span th:class="${user.enabled}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span>
						</p>
					</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" data-title="Showcase locked">
						<p>
							<span th:class="${user.showcaseLocked}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span>
						</p>
					</div>
					<div class="col-sm-1 col-lg-1 tableBodyCol" data-title="Edit">
						<a th:href="@{|/admin/user/${user.id}/edit|}">Edit</a>
					</div>					
       	 		</div>
        	</div>
        </div>
	</div>
</div>


</body>
</html>
