<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.spingframework.org/security/tags">

<!-- navbar fragment start -->
<nav th:fragment="navbar" class="navbar navbar-inverse navbar-static-top no-bottom-margin">
    <div class="container no-fat">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">SecondHandBooks</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a  href="sell-book-overview.html" th:href="@{/sell-book-overview/}">Browse Books</a></li>
                <li><a href="showcases.html" th:href="@{/showcases}">Browse Showcases</a></li>
            </ul>

            <form sec:authorize="!isAuthenticated()" th:action="@{/login}" class="navbar-form navbar-right" method='POST'>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control" maxlength="254"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" maxlength="50"/>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" name="submit" class="btn btn-success">Sign in</button>
            </form>

            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="users.html" th:href="@{/admin/users}">User List</a></li>
                    </ul>
                </li>
                <li><a href="notifications.html" th:href="@{/notifications}">Notifications <span th:text="${notificationNumber}" class="badge"></span></a></li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/showcaseoverview}">Showcase</a></li>
                        <li><a th:href="@{/profile}">Profile</a></li>
                        <li><a th:href="@{/ratings}">Ratings</a></li>
                        <li><a th:href="@{/bookoverview}">Archive</a></li>
                        <li><a th:href="@{/offersoverview}">My offers</a></li>
                        <li><a th:href="@{/edit-profile}">Edit profile</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar fragment end -->

<body>
</body>
</html>