<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- platform-message fragment start -->
<div th:fragment="platform-message">
	<div th:if="${messageText} and ${messageSuccess}"
		class="alert alert-success" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong th:text="${messageText}">Success message</strong>
	</div>
	<div th:if="${messageText} and ${messageInfo}" class="alert alert-info"
		role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong th:text="${messageText}">Info message</strong>
	</div>
	<div th:if="${messageText} and ${messageWarning}"
		class="alert alert-warning" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong th:text="${messageText}">Warning message</strong>
	</div>
	<div th:if="${messageText} and ${messageDanger}"
		class="alert alert-danger" role="alert">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong th:text="${messageText}">Danger message</strong>
	</div>
</div>
<!-- platform-message fragment end -->

<body>
</body>
</html>